.cart1 {
  background:linear-gradient(#F39F5A 0%, #AE445A 65%);
  padding: 20px;
  padding-top: 5%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.cart2 {
  text-align: center;
  
}

.cart_img{
  width: 100px;
  height: 100px;
}
  
.cart_div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  gap: 15%;
} 

.button7{
  width: 30px;
  height: 30px;
}

.button_div7{
  display: flex ;
  gap: 5px;
  padding: 3%;
}